@model Testshop.ViewModel.ItemModel

@{
    ViewBag.Title = "Index";
}

<h2>Add Item</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Category :
                @Html.DropDownListFor(expression: model => model.CartID ,new SelectList(Model.CartListItem ,dataValueField:"Value", dataTextField:"Text"),
                htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                Item Code :
                @Html.TextBoxFor(expression: model => model.ItemCode, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Item Name :
                @Html.TextBoxFor(expression: model => model.ItemName, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                Description :
                @Html.TextBoxFor(expression: model => model.ItemDes, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                Price :
                @Html.TextBoxFor(expression: model => model.ItemPrice, htmlAttributes: new { @class = "form-control", autocomplete = "Off" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                Image :
                @Html.TextBoxFor(expression: model => model.ItemImg, htmlAttributes: new { type = "file", @class = "form-contro" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="button" value="Save" name="save" class="btn btn-primary" id="btnSave" />
                &nbsp;
                <input type="button" value="Reset" name="reset" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            SaveItem();

        });
    });

    function ResetItem() {
        $("#CartID").val("1");
        $("#ItemCode").val("");
        $("#ItemName").val("");
        $("#ItemDes").val("");
        $("#Price").val("");
        $("#Image").val("");
    }

    function SaveItem() {
        var formData = new FormData();
        formData.append("CartID", $("#CartID").val());
        formData.append("ItemCode", $("#ItemCode").val());
        formData.append("ItemName", $("#ItemName").val());
        formData.append("ItemDes", $("#ItemDes").val());
        formData.append("ItemPrice", $("#ItemPrice").val());
        formData.append("ItemImg", $("#ItemImg").get(0).files[0]);


        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'POST',
            contentType: false,
            processData: false,
            url: '/Item/Index',
            data: formData,
            success: function (data) {
                if (data.Success) {

                    alert(data.Message);
                    ResetItem();
                }
            },
            error: function () {
                alert("fixe");
            }

        });
    }

</script>

